@import '../../constants/colors.scss';

.about-container {
  padding-left: 100px;
  background-image: url('../../assets/images/logo-dark1.png');
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  font-size: 28px;
  font-family: 'Coolvetica';
  letter-spacing: 5px;
  .content {
    h1 {
      margin-top: 0;
      cursor: pointer;
    }
    .left,
    .left-p {
      position: relative;
      span {
        margin-right: 15px;
        // font-size: 18px;
      }
    }
    .left {
      left: -65px;
    }
    .left-p {
      left: -50px;
    }
    .right {
      position: relative;
      // left: -50px;
    }
    p {
      color: $contrast;
      font-weight: 300;
      font-family: 'Coolvetica';
      letter-spacing: 2px;
      cursor: pointer;
    }
  }
  .image {
    width: 210px;
    height: 260px;
    // border-radius: 20px;
    border: 1px solid $alternative;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    transition: all 0.3s ease;
    .img-cont {
      position: absolute;
      top: -15px;
      left: -15px;
      transition: all 0.5s ease;
      background-color: rgba(127, 255, 212, 0.473);
      height: 260px;
      cursor: pointer;
      &:after {
        content: '';
      }
      &:hover {
        &:after {
          content: 'Projects';
          position: absolute;
          left: 28px;
          top: 105px;
          font-size: 22px;
          color: $alternative;
          background-color: rgba(240, 255, 255, 0.329);
          padding: 10px 20px;
        }
        top: 0px;
        left: 0px;
      }
      img {
        width: 210px;
        height: 260px;
        // border-radius: 20px;
        filter: opacity(0.5);
        &:hover {
          filter: opacity(1);
        }
      }
    }
  }
}
.btn-contact {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  &:hover {
    transform: scale(1.1, 1.1);
    a{
      color:$primary;
    }
  }
  a {
    color: $alternative;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
