@import '../../constants/colors.scss';
.nav {
  width: 80px;
  height: 100%;
  top: 0;
  z-index: 3;
  height: 100vh;
  .logo {
    display: block;
    padding: 8px 0;

    img {
      width: 75px;
      padding: 20px 5px;
      transform: rotateY(0deg);
      transition: transform 1.5s ease-in-out;
      opacity: 0.7;
      &:hover {
        transform: rotateY(180deg);
        opacity: 1;
      }
    }
  }
  nav {
    position: relative;
    left: 30px;
    a {
      font-size: 16px;
      position: relative;
      text-decoration: none;
      transition: all 0.5s ease-out;
      display: block;
      min-height: 50px;
      svg {
        opacity: 1;
        transition: all 0.5s ease-out;
      }
      &:after {
        content: '';
        font-size: 10px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 60%;
        width: 100%;
        text-align: center;
        transition: opacity 0.3s ease-out;
        opacity: 0;
        left: -30px;
        color: $primary;
      }
      &:hover {
        svg {
          opacity: 0;
        }
        &:after {
          // transition: all 0.5s ease-out;
          opacity: 1;
        }
      }

      &:first-child {
        &:after {
          content: 'ABOUT';
        }
      }
    }
    a.skills-link {
      &:after {
        content: 'SKILLS';
      }
    }
    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }
    a.work-link {
      &:after {
        content: 'WORK';
      }
    }
  }
  [aria-current='page'] {
    svg {
      color: $alternative;
    }
    &:after {
      color: $alternative;
    }
  }
  ul {
    margin-top: 50px;
    list-style-type: none;
    padding-left: 0;
    position: fixed;
    bottom: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
    li {
      position: relative;
      left: 30px;
      &:not(:nth-last-child(2)) {
        min-height: 50px;
      }
      a {
        font-size: 20px;
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease-out;
        display: block;
        svg {
          color: $primary;
          transition: transform 0.5s ease;

          &:hover {
            color: $alternative;
            transform: scale(1.2, 1.2);
          }
        }
      }
      .line {
        margin-top: 10px;
        width: 3px;
        height: 100px;
        background-color: $contrast;
        position: relative;
        left: 6px;
      }
    }
  }
}
